.hero {
    padding-top: 44px;
}

.hero__block {
    border-radius: 10px;
    padding-top: 117px;
    padding-bottom: 116px;
    padding-left: 86px;
    max-width: 1280px;
    background-repeat: no-repeat;
    background-image: url(/img/hero-bg.jpg);
    background-size: cover;
}

.hero__text {
    margin: 0;
    max-width: 443px;
    color: #FEFCF7;
    font-family: 'Barlow', sans-serif;
    font-size: 16px;
    margin-bottom: 56px;
    line-height: 26px;
}

.hero__title {
    margin: 0;
    max-width: 493px;
    color: #FEFCF7;
    font-family: 'Fraunces', serif;
    font-size: 72px;
    margin-bottom: 31px;
    line-height: 72px;
}

.hero__btn {
    margin: 0;
    max-width: 217px;
    height: 56px;
    border-radius: 6px;
    color: white;
    background-color: #66D2CF;
    padding: 15px 31px;
    padding-bottom: 16px;
}

@media (max-width:992px) {
    .hero__title {
        max-width: 329px;
        font-size: 48px;
        line-height: 48px;
    }

    .hero__text{
        max-width: 398px;
        font-size: 15px;
    }

    .hero__block{
        padding-top: 104px;
        padding-bottom: 104px;
        padding-left: 58px;
        background-repeat: no-repeat;
        background-image: url(/img/hero-t.jpg);
        background-size: cover;
    }

}


@media (max-width:720px) {

    .hero__block{
        padding: 0;
        padding-top: 100px;
        padding-bottom: 99px;
        background-repeat: no-repeat;
        background-image: url(/img/hero-m.jpg);
        background-size: cover;
    }

    .hero__title{
        max-width: 279px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        font-size: 40px;
        line-height: 40px;
    }

    .hero__text{
        max-width: 279px;
        font-size: 15px;
        line-height: 25px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    .hero__btn{
        display: block;
        text-align: center;
        margin-right: auto;
        margin-left: auto;
    }
    
}
